
@{
    ViewBag.Title = "CategoryHome";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<body>
    <h2>Category Home </h2>
    <hr />
    @Html.ActionLink(" Create Category " , "Create" , "Category" , new {@class = ""})
    <p class="mt-3 mb-3"> You Can Add Your CateGory Items </p>
</body>
